In [12]:
# Import Random Forest from sklearn
from sklearn.model_selection import cross_val_predict, GridSearchCV, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler

In [13]:
# Import numpy and pandas
import pandas as pd
import numpy as np

In [29]:
food_db = pd.read_csv('ag_prd_food_xd.csv', sep=',')

In [30]:
population_db = pd.read_csv('population_total.csv', sep=',')

In [31]:
murdery_db = pd.read_csv('murder_total_deaths.csv', sep=',')

In [33]:
oil_db = pd.read_csv('oil_production_total.csv', sep=',')
oil_db

,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Algeria,26500000.0,33900000.0,39100000.0,42900000.0,44800000.0,48200000.0,37100000.0,50100000.0,50900000.0,...,86500000.0,85600000.0,77200000.0,73800000.0,71700000.0,67200000,64800000,68800000,67200000,68500000
1,Angola,655000.0,631000.0,537000.0,750000.0,2460000.0,5070000.0,5720000.0,7060000.0,8180000.0,...,82500000.0,93500000.0,87600000.0,90500000.0,83800000.0,86900000,87300000,83000000,88700000,87900000
2,Argentina,13800000.0,14600000.0,16000000.0,17500000.0,18100000.0,20000000.0,21600000.0,22200000.0,21600000.0,...,38300000.0,37800000.0,34000000.0,33300000.0,30900000.0,31100000,30500000,29900000,29800000,28800000
3,Australia,346000.0,445000.0,1040000.0,1930000.0,2230000.0,8700000.0,15300000.0,16300000.0,20400000.0,...,24500000.0,24100000.0,22400000.0,24500000.0,21500000.0,21400000,17800000,19100000,17400000,15500000
4,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42600000.0,44500000.0,50400000.0,50800000.0,45600000.0,43400000,43500000,42100000,41600000,41000000
5,Brazil,5040000.0,6160000.0,7750000.0,8510000.0,9290000.0,8790000.0,9200000.0,9030000.0,9160000.0,...,95400000.0,99100000.0,106000000.0,112000000.0,114000000.0,112000000,110000000,122000000,132000000,137000000
6,Brunei,3970000.0,4760000.0,5160000.0,6070000.0,6150000.0,6750000.0,6400000.0,9060000.0,11400000.0,...,9530000.0,8590000.0,8250000.0,8450000.0,8110000.0,7820000,6610000,6180000,6200000,5930000
7,Canada,43900000.0,48200000.0,52700000.0,57100000.0,62200000.0,70100000.0,75200000.0,86700000.0,100000000.0,...,155000000.0,153000000.0,153000000.0,160000000.0,170000000.0,183000000,195000000,209000000,216000000,218000000
8,Chad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7540000.0,6690000.0,6190000.0,6400000.0,5970000.0,5310000,4360000,4330000,3810000,3850000
9,China,11300000.0,14600000.0,13900000.0,16000000.0,21700000.0,30700000.0,39400000.0,45700000.0,53600000.0,...,186000000.0,190000000.0,189000000.0,203000000.0,203000000.0,207000000,210000000,211000000,215000000,200000000
10,Colombia,10700000.0,10400000.0,10100000.0,9260000.0,11200000.0,11800000.0,11700000.0,10600000.0,9950000.0,...,28000000.0,31100000.0,35300000.0,41400000.0,48200000.0,49900000,52900000,52200000,53000000,48800000
11,"Congo, Rep.",71000.0,62000.0,50000.0,43000.0,24000.0,19000.0,14000.0,336000.0,2090000.0,...,11500000.0,12200000.0,14100000.0,16000000.0,15300000.0,14300000,12600000,13400000,12900000,12000000
12,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97700.0,146000.0,...,15200000.0,14000000.0,12900000.0,12200000.0,10900000.0,9980000,8680000,8130000,7690000,6920000
13,Ecuador,429000.0,375000.0,322000.0,269000.0,214000.0,214000.0,214000.0,4190000.0,11200000.0,...,27500000.0,27200000.0,26100000.0,26100000.0,26800000.0,27100000,28200000,29800000,29100000,29300000
14,Egypt,6480000.0,6260000.0,5580000.0,8580000.0,12300000.0,16400000.0,15000000.0,10700000.0,8480000.0,...,33800000.0,34700000.0,35300000.0,35000000.0,34600000.0,34700000,34400000,35100000,35400000,33800000
15,Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15900000.0,16100000.0,14200000.0,12600000.0,11600000.0,12700000,12400000,13100000,13500000,13100000
16,Gabon,1270000.0,1450000.0,3450000.0,4640000.0,5030000.0,5420000.0,5800000.0,6300000.0,7600000.0,...,12300000.0,12000000.0,12000000.0,12400000.0,12500000.0,12700000,11600000,11600000,11500000,11400000
17,India,3020000.0,4650000.0,5670000.0,5850000.0,6720000.0,6810000.0,7190000.0,7370000.0,7200000.0,...,36400000.0,37800000.0,38000000.0,41300000.0,42900000.0,42500000,42500000,41600000,41200000,40200000
18,Indonesia,24500000.0,23900000.0,25700000.0,30300000.0,32400000.0,43100000.0,45000000.0,54700000.0,67500000.0,...,47800000.0,49400000.0,48400000.0,48600000.0,46300000.0,44600000,42700000,41200000,40700000,43000000
19,Iran,95700000.0,107000000.0,131000000.0,143000000.0,169000000.0,193000000.0,229000000.0,254000000.0,295000000.0,...,213000000.0,216000000.0,207000000.0,212000000.0,213000000.0,181000000,170000000,174000000,182000000,216000000
20,Iraq,64700000.0,68600000.0,60500000.0,74200000.0,74900000.0,76300000.0,83400000.0,72400000.0,99400000.0,...,105000000.0,119000000.0,120000000.0,121000000.0,137000000.0,153000000,153000000,160000000,197000000,219000000
21,Italy,2280000.0,1850000.0,1720000.0,1630000.0,1590000.0,1500000.0,1350000.0,1210000.0,1110000.0,...,5860000.0,5240000.0,4570000.0,5110000.0,5310000.0,5400000,5560000,5820000,5520000,3800000
22,Kazakhstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67200000.0,70700000.0,76500000.0,79700000.0,80100000.0,79300000,82300000,81100000,80200000,79300000
23,Kuwait,119000000.0,126000000.0,126000000.0,133000000.0,141000000.0,152000000.0,163000000.0,167000000.0,154000000.0,...,130000000.0,136000000.0,121000000.0,123000000.0,141000000.0,154000000,151000000,150000000,148000000,153000000
24,Libya,58000000.0,71700000.0,82400000.0,124000000.0,148000000.0,160000000.0,131000000.0,107000000.0,105000000.0,...,85400000.0,85600000.0,77400000.0,77800000.0,22500000.0,71200000,46500000,23400000,20300000,20000000
25,Malaysia,47800.0,47800.0,47800.0,192000.0,430000.0,860000.0,3300000.0,4460000.0,4350000.0,...,33800000.0,34000000.0,32200000.0,32600000.0,29400000.0,29800000,28500000,29700000,32300000,32700000
26,Mexico,18100000.0,18500000.0,20500000.0,21900000.0,23000000.0,24200000.0,24100000.0,25100000.0,25900000.0,...,172000000.0,157000000.0,147000000.0,146000000.0,145000000.0,144000000,142000000,137000000,128000000,121000000
27,Nigeria,13500000.0,20600000.0,15700000.0,6960000.0,26600000.0,53400000.0,75400000.0,89800000.0,101000000.0,...,112000000.0,103000000.0,105000000.0,119000000.0,116000000.0,114000000,109000000,113000000,112000000,98800000
28,Norway,NaN,NaN,NaN,NaN,NaN,NaN,293000.0,1610000.0,1560000.0,...,119000000.0,115000000.0,109000000.0,98800000.0,93800000.0,87300000,83200000,85300000,88000000,90400000
29,Oman,NaN,NaN,2820000.0,12000000.0,16200000.0,16400000.0,14600000.0,14000000.0,14500000.0,...,34800000.0,37100000.0,39700000.0,42200000.0,43200000.0,45000000,46100000,46200000,48000000,49300000
30,Peru,3390000.0,3390000.0,3810000.0,3980000.0,3860000.0,3860000.0,3310000.0,3470000.0,3780000.0,...,5490000.0,5700000.0,6510000.0,6950000.0,6740000.0,6730000,7130000,7300000,6210000,5580000
31,Qatar,11600000.0,14500000.0,16100000.0,17000000.0,17700000.0,18100000.0,21400000.0,24100000.0,28400000.0,...,57600000.0,64700000.0,62600000.0,71100000.0,78000000.0,82200000,80300000,79400000,79100000,79400000
32,Romania,12800000.0,13100000.0,13500000.0,13500000.0,13500000.0,13700000.0,14100000.0,14400000.0,14600000.0,...,4750000.0,4720000.0,4500000.0,4290000.0,4220000.0,3980000,4130000,4050000,4000000,3800000
33,Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,497000000.0,494000000.0,501000000.0,512000000.0,519000000.0,526000000,531000000,534000000,541000000,554000000
34,Saudi Arabia,111000000.0,131000000.0,141000000.0,154000000.0,163000000.0,192000000.0,241000000.0,304000000.0,384000000.0,...,489000000.0,510000000.0,457000000.0,474000000.0,526000000.0,550000000,538000000,543000000,568000000,586000000
35,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1530000,4910000,7650000,7280000,5840000
36,Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23800000.0,22600000.0,23400000.0,22800000.0,14300000.0,5090000,5810000,5890000,5370000,5120000
37,Syria,NaN,NaN,NaN,1050000.0,2640000.0,4230000.0,5280000.0,5840000.0,5530000.0,...,19500000.0,19600000.0,19300000.0,18500000.0,16900000.0,8080000,2690000,1460000,1200000,1100000
38,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13200000.0,14000000.0,14500000.0,14900000.0,15400000.0,16600000,16500000,16200000,17000000,17600000
39,Trinidad and Tobago,6670000.0,7560000.0,8850000.0,9490000.0,7780000.0,6930000.0,6390000.0,7000000.0,8220000.0,...,7150000.0,7000000.0,6810000.0,6220000.0,5900000.0,5170000,5080000,5050000,4810000,4320000
40,Tunisia,NaN,771000.0,2240000.0,3190000.0,3710000.0,4150000.0,4110000.0,3980000.0,3880000.0,...,4960000.0,4560000.0,4330000.0,3970000.0,3660000.0,3890000,3600000,3350000,3010000,2900000
41,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9810000.0,10400000.0,10500000.0,10800000.0,10800000.0,11200000,11700000,12100000,12700000,12700000
42,United Arab Emirates,13700000.0,17400000.0,18500000.0,24200000.0,29000000.0,36900000.0,53600000.0,63100000.0,70500000.0,...,140000000.0,141000000.0,126000000.0,133000000.0,151000000.0,155000000,165000000,166000000,176000000,182000000
43,United Kingdom,84000.0,78000.0,89000.0,84000.0,85000.0,156000.0,212000.0,333000.0,372000.0,...,76900000.0,72000000.0,68300000.0,63200000.0,52100000.0,44700000,40700000,40000000,45400000,47500000
44,United States,428000000.0,455000000.0,484000000.0,503000000.0,511000000.0,533000000.0,526000000.0,528000000.0,515000000.0,...,305000000.0,302000000.0,322000000.0,333000000.0,345000000.0,393000000,447000000,523000000,565000000,543000000
45,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4930000.0,4780000.0,4460000.0,3650000.0,3590000.0,3170000,2860000,2760000,2660000,2580000
46,Venezuela,184000000.0,179000000.0,188000000.0,192000000.0,191000000.0,197000000.0,190000000.0,174000000.0,181000000.0,...,166000000.0,166000000.0,156000000.0,146000000.0,142000000.0,139000000,138000000,139000000,136000000,124000000
47,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16300000.0,15200000.0,16700000.0,15600000.0,15800000.0,17300000,17400000,18100000,17400000,16000000
48,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15900000.0,14800000.0,14300000.0,14300000.0,10100000.0,8010000,8890000,6730000,1990000,780000

In [34]:
population_db_total = population_db.sum(0).to_frame()
population_db_total.columns = ['total']
population_db_total = population_db_total.iloc[1:]
population_db_total

            total
1800    947395605
1801    950660905
1802    954801805
1803    959761605
1804    964128505
1805    968292505
1806    972488505
1807    976657405
1808    980732505
1809    985988505
1810    991368405
1811    994828315
1812   1000000655
1813   1004780585
1814   1009524145
1815   1015312805
1816   1020476975
1817   1026605775
1818   1031657775
1819   1037848005
1820   1043189835
1821   1049895785
1822   1055834555
1823   1061473705
1824   1067645505
1825   1073410705
1826   1079472435
1827   1084866155
1828   1091484815
1829   1098104095
...           ...
2071  10561429212
2072  10596001111
2073  10635461909
2074  10653136808
2075  10682343705
2076  10703366407
2077  10742106212
2078  10767756009
2079  10784337806
2080  10821838403
2081  10834324203
2082  10859390707
2083  10882051407
2084  10903524907
2085  10917941464
2086  10948369014
2087  10958283372
2088  10977446025
2089  10997193581
2090  11005953144
2091  11036020606
2092  11041953065
2093  11067619516
2094  11075621882
2095  11099777533
2096  11104574894
2097  11115392242
2098  11129197899
2099  11140886460
2100  11153248818

[301 rows x 1 columns]

In [35]:
murdery_db_total = murdery_db.sum(0).to_frame()
murdery_db_total.columns = ['total']
murdery_db_total = murdery_db_total.iloc[1:]
murdery_db_total

       total
1990  332300
1991  345002
1992  359144
1993  377003
1994  391701
1995  397655
1996  398264
1997  398247
1998  400834
1999  405152
2000  409917
2001  408782
2002  409661
2003  406887
2004  403754
2005  401290
2006  396812
2007  392248
2008  391117
2009  388296
2010  385825
2011  382777
2012  380678
2013  381173
2014  383349
2015  386675
2016  389574

In [36]:
food_db_total = food_db.sum(0).to_frame()
food_db_total.columns = ['total']
food_db_total = food_db_total.iloc[1:]
food_db_total

        total
1961  7821.17
1962  7982.38
1963  8170.61
1964  8412.28
1965  8622.21
1966  8755.14
1967  9101.54
1968  9231.27
1969  9353.69
1970  9502.68
1971  9751.42
1972  9761.14
1973  9804.78
1974  10217.1
1975  10326.6
1976  10748.5
1977    10904
1978  11306.6
1979  11460.2
1980  11558.7
1981  11722.3
1982    11895
1983  11744.5
1984    12136
1985  12288.7
1986  12525.6
1987  12353.9
1988    12509
1989  12672.2
1990  12755.4
1991  12931.7
1992    15100
1993  15352.4
1994  15150.3
1995    15668
1996  16050.6
1997  16194.4
1998  16305.9
1999  16735.7
2000    16934
2001  16983.7
2002    17337
2003  17704.2
2004  18326.4
2005  18500.8
2006  19169.4
2007  19491.2
2008  20103.2
2009  20576.3
2010  20981.1
2011  21488.4
2012  21703.3
2013  22462.3
2014  22622.5
2015  22893.2
2016  22956.2

In [37]:
oil_db_total = oil_db.sum(0).to_frame()
oil_db_total.columns = ['total']
oil_db_total = oil_db_total.iloc[1:]
oil_db_total

            total
1965  1.29455e+09
1966  1.40649e+09
1967  1.50384e+09
1968  1.64808e+09
1969  1.77881e+09
1970  1.96976e+09
1971  2.08568e+09
1972  2.20525e+09
1973  2.40651e+09
1974  2.38579e+09
1975   2.2127e+09
1976  2.41824e+09
1977  2.49653e+09
1978  2.50064e+09
1979  2.61401e+09
1980   2.4507e+09
1981  2.26596e+09
1982  2.14458e+09
1983  2.10114e+09
1984  2.15794e+09
1985  2.73582e+09
1986  2.88121e+09
1987    2.892e+09
1988  3.01743e+09
1989  3.05329e+09
1990  3.12097e+09
1991  3.11058e+09
1992  3.14042e+09
1993  3.13747e+09
1994  3.18841e+09
1995  3.23209e+09
1996   3.3311e+09
1997  3.43027e+09
1998  3.49634e+09
1999  3.43496e+09
2000  3.57168e+09
2001  3.57182e+09
2002  3.55391e+09
2003  3.68774e+09
2004  3.85366e+09
2005   3.8763e+09
2006  3.90422e+09
2007  3.89162e+09
2008  3.92908e+09
2009  3.82792e+09
2010  3.91984e+09
2011   3.9505e+09
2012   4058260000
2013   4063710000
2014   4162100000
2015   4298150000
2016   4322520000

In [38]:
for i in range(1990, 2017):
    food_db_total.iloc[food_db_total.index.values.tolist().index(str(i))] /= population_db_total.iloc[population_db_total.index.values.tolist().index(str(i))]
    murdery_db_total.iloc[murdery_db_total.index.values.tolist().index(str(i))] /= population_db_total.iloc[population_db_total.index.values.tolist().index(str(i))]
    oil_db_total.iloc[oil_db_total.index.values.tolist().index(str(i))] /= population_db_total.iloc[population_db_total.index.values.tolist().index(str(i))]

In [39]:
food_db_total = food_db_total.iloc[1990-1961:]

In [40]:
murdery_db_total

            total
1990  6.27503e-05
1991  6.40442e-05
1992  6.57041e-05
1993  6.78365e-05
1994  6.94961e-05
1995  6.95702e-05
1996  6.87003e-05
1997  6.77648e-05
1998  6.72701e-05
1999  6.71875e-05
2000    6.716e-05
2001  6.60906e-05
2002  6.53582e-05
2003  6.40742e-05
2004  6.28521e-05
2005  6.17584e-05
2006  6.02712e-05
2007  5.87938e-05
2008  5.79434e-05
2009  5.68637e-05
2010  5.57529e-05
2011  5.46061e-05
2012  5.36873e-05
2013  5.31313e-05
2014  5.28476e-05
2015  5.26291e-05
2016  5.25062e-05

In [41]:
oil_db_total = oil_db_total.iloc[1990-1965:]

In [42]:
X = pd.DataFrame()

In [43]:
X['food'] = food_db_total['total']
X['murdery'] = murdery_db_total['total']
X['oil'] = oil_db_total['total']
X

             food      murdery       oil
1990  2.40868e-06  6.27503e-05  0.589352
1991  2.40057e-06  6.40442e-05   0.57743
1992  2.76249e-06  6.57041e-05  0.574529
1993  2.76245e-06  6.78365e-05  0.564544
1994  2.68798e-06  6.94961e-05  0.565691
1995  2.74113e-06  6.95702e-05  0.565457
1996  2.76871e-06  6.87003e-05  0.574612
1997   2.7556e-06  6.77648e-05  0.583687
1998  2.73654e-06  6.72701e-05  0.586775
1999  2.77533e-06  6.71875e-05  0.569629
2000  2.77444e-06    6.716e-05  0.585178
2001  2.74587e-06  6.60906e-05  0.577481
2002  2.76598e-06  6.53582e-05  0.566998
2003  2.78796e-06  6.40742e-05  0.580724
2004  2.85286e-06  6.28521e-05  0.599897
2005  2.84727e-06  6.17584e-05  0.596561
2006  2.91161e-06  6.02712e-05  0.593006
2007  2.92153e-06  5.87938e-05  0.583313
2008  2.97826e-06  5.79434e-05  0.582087
2009  3.01328e-06  5.68637e-05  0.560577
2010  3.03183e-06  5.57529e-05  0.566429
2011  3.06549e-06  5.46061e-05   0.56357
2012  3.06084e-06  5.36873e-05   0.57234
2013  3.13099e-06  5.31313e-05  0.566436
2014  3.11869e-06  5.28476e-05  0.573778
2015  3.11593e-06  5.26291e-05  0.585008
2016  3.09401e-06  5.25062e-05  0.582584

In [44]:
y = pd.read_csv('new_births_total_number_estimated.csv', sep=',').sum(0).to_frame().iloc[1:]

In [45]:
y

                0
1800  3.81269e+07
1801  3.82538e+07
1802  3.84643e+07
1803  3.86422e+07
1804  3.89039e+07
1805  3.90446e+07
1806  3.91886e+07
1807  3.93392e+07
1808  3.94726e+07
1809  3.95939e+07
1810  3.97988e+07
1811  4.00827e+07
1812  4.02327e+07
1813  4.04142e+07
1814  4.05916e+07
1815  4.08698e+07
1816   4.1068e+07
1817  4.13152e+07
1818   4.1612e+07
1819  4.18304e+07
1820  4.21211e+07
1821  4.23985e+07
1822   4.2616e+07
1823  4.28262e+07
1824  4.30158e+07
1825  4.33651e+07
1826  4.35502e+07
1827  4.36487e+07
1828  4.39190e+07
1829  4.41152e+07
...           ...
1986    136668300
1987    137925420
1988    138549320
1989    138698020
1990    138078400
1991    137120840
1992    135735330
1993    134353750
1994    132971880
1995    131749380
1996    130768190
1997    130080010
1998    129655660
1999    129503140
2000    129698020
2001    130166520
2002    130767690
2003    131536010
2004    132367950
2005    133247670
2006    134223790
2007    135181160
2008    136150640
2009    137027300
2010    137930710
2011    138515240
2012    139141790
2013    139662410
2014    140148760
2015    140263140

[216 rows x 1 columns]

In [46]:
y = y.iloc[1990-1800:]

In [47]:
y

              0
1990  138078400
1991  137120840
1992  135735330
1993  134353750
1994  132971880
1995  131749380
1996  130768190
1997  130080010
1998  129655660
1999  129503140
2000  129698020
2001  130166520
2002  130767690
2003  131536010
2004  132367950
2005  133247670
2006  134223790
2007  135181160
2008  136150640
2009  137027300
2010  137930710
2011  138515240
2012  139141790
2013  139662410
2014  140148760
2015  140263140

In [48]:
X = X.iloc[:-1]

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=42)

In [50]:
regr = RandomForestRegressor(max_depth=2, random_state=0,
                            n_estimators=100)
regr.fit(X_train, y_train)
RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)
print(regr.feature_importances_)
y_test_pre = regr.predict(X_test)
ans = 0
for i in range(len(y_test.values)):
    ans += abs(y_test_pre[i] - y_test.values[i]) / y_test.values[i]
ans /= len(y_test.values)
print(ans)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

[0.17864749 0.72888765 0.09246486]
[0.016559430606514478]

In [128]:
rfr.feature_importances_

NotFittedError: This RandomForestRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.